<div style="margin: 1%; padding: 2%; height: 150px; width: 300px; background-color: pink; border-radius: 10%;">
    contact us
    <h3>
        email : amiya@gmail.com
        <br> <br>
        mobile number : +91 8373984372
    </h3>
</div>