<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, facere? Expedita aliquid accusamus aspernatur velit non maiores pariatur, distinctio quas laudantium maxime nulla impedit recusandae a soluta itaque enim temporibus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem natus non, autem in modi cum nesciunt vitae beatae, voluptatibus similique dignissimos. Sequi consequuntur esse ducimus vero odio tenetur totam iure?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam necessitatibus officiis, temporibus tempore pariatur expedita animi perspiciatis iusto rem commodi repellendus vitae doloribus quo eos maxime error? Officiis, <saepe class="lo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate inventore est eaque, animi laboriosam quidem ipsa quasi quia dolores, hic labore, consectetur nostrum natus veniam voluptatum tempora fugit? Enim.</saepe></p>
    <button>click me</button>
</body>
</html>